* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background-color: #1D1D1D;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #1D1D1D;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  padding: 0;
  color: white;
}

video  {
  display: block;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select:none;
}

