 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.project-card {
    display: flex;
    flex-direction: column;

    border: 1px solid #111111;
    background-color: #222222;

    padding: 25px;
}

.project-title {
    font: bold 20px "Montserrat", sans-serif;
    color: #15A1FF;
    text-decoration: underline;
}

.project-text {
    font: 400 15px "Lato", sans-serif;
    width: 250px;
    margin-top: 5px;
}

.project-tag {
    margin-right: 15px;

    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -fit-content;

    font: 15px "Open Sans", sans-serif;
}

.project-tags {
    margin-bottom: 25px;
}

.project-circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;

    display: inline-block;
    margin-right: 4px;
}

#projects-title {
    margin-bottom: 50px;
}

#project-grid {
    width: 70vw;
    position: relative;
}

#projects-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#projects {
    padding-top: 20vh;
    margin-top: -20vh;
    margin-bottom: 20vh;
}

