
 .title-name-div {
    position: relative;
    padding-top: 200px;
    margin-left: 15vw;
    z-index: 0;
}

.name-title:nth-child(1) {
    font: bold 70px Montserrat, sans-serif;
    color: #ff3d0d;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    position: relative;
    background: rgb(56, 56, 56);
    background: -moz-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
    background: -webkit-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
    background: linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
    height: 100px;
    background-position: left 19px top 40px;
    white-space: pre;
}

.name-title:nth-child(2) {
    font: bold 70px Montserrat, sans-serif;
    color: #ff3d0d;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    position: absolute;
    top: 290px;
    background: rgb(56, 56, 56);
    background: -moz-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
    background: -webkit-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
    background: linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
    background-position: left 19px top 0px;
    height: 90px;
    white-space: pre;
} 

.subheading {
    font: bold 30px Montserrat, sans-serif;
    position: relative;
    top: 100px;
    padding-left: 10px;
    color: white;
}

.title {
    height: 75px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    font: bold 60px Montserrat, sans-serif;
    color: #ff3d0d;
    background: rgb(56, 56, 56);
    background: -moz-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
    background: -webkit-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
    background: linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
    background-position: left 19px top 40px;
    margin-left: -9px;
}

#about-text {
    text-align: left;
    width: 370px;
    color: white;
    font: 400 18px Lato, sans-serif;
}

#about-me-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
}

